[Unit]
Description=HDFS Primary Name Node 

[Service]
User=hdfs
Group=hadoop
SyslogIdentifier=hdfs_pnn
TimeoutStartSec=0
TimeoutStopSec=0
Restart=always
Type=forking
PIDFile=/var/run/hdfs/hadoop-hdfs-namenode.pid
ExecStart=/bin/bash /usr/hdp/current/hadoop-hdfs-namenode/../hadoop/sbin/hadoop-daemon.sh --config {{haddop_conf_dir}} start namenode
ExecStop=/bin/bash /usr/hdp/current/hadoop-hdfs-namenode/../hadoop/sbin/hadoop-daemon.sh --config {{haddop_conf_dir}}  stop namenode

[Install]
WantedBy=multi-user.target

