[Unit]
Description=HDFS Data Node 

[Service]
User=hdfs
Group=hadoop
SyslogIdentifier=hdfs_dn
TimeoutStartSec=60
TimeoutStopSec=30
Restart=always
Type=forking
PIDFile=/var/run/hdfs/hadoop-hdfs-datanode.pid
ExecStart=/bin/bash /usr/hdp/current/hadoop-hdfs-datanode/../hadoop/sbin/hadoop-daemon.sh --config  {{haddop_conf_dir}} start datanode
ExecStop=/bin/bash /usr/hdp/current/hadoop-hdfs-datanode/../hadoop/sbin/hadoop-daemon.sh --config  {{haddop_conf_dir}} stop datanode

[Install]
WantedBy=multi-user.target


