#VERSION_NUMBER=2.3.2.0-2950
[HDP-2.3.2.0]
name=HDP Version - HDP-2.3.2.0
baseurl={{ yum_repo_hdp_hdp_url }}
gpgcheck=1
gpgkey={{ yum_repo_hdp_hdp_key_url }}
enabled=1
priority=1


[HDP-UTILS-1.1.0.20]
name=HDP Utils Version - HDP-UTILS-1.1.0.20
baseurl={{ yum_repo_hdp_hdp_utils_url }}
gpgcheck=1
gpgkey={{ yum_repo_hdp_hdp_utils_key_url }}
enabled=1
priority=1
